/*
* @Author: Christian Rebelsky
* @Date:   2016-04-19 11:41:50
* @Last Modified by:   Christian Rebelsky
* @Last Modified time: 2016-04-19 13:04:50
*/

#coming-soon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@include breakpoint(small up) {
    #coming-soon {
        background-image: url('../../static/images/background-small.png');
    }
}

@include breakpoint(medium up) {
    #coming-soon {
        background-image: url('../../static/images/background-medium.png');
    }
}

@include breakpoint(large up) {
    #coming-soon {
        background-image: url('../../static/images/background.png');
    }
}