/*
* @Author: Christian Rebelsky
* @Date:   2016-04-19 11:39:56
* @Last Modified by:   Christian Rebelsky
* @Last Modified time: 2016-04-19 20:27:27
*/




.logo {
    &_subline {
        font-size: 20px;
    }
}

h2 {
    font-size: 18px;
    &.big {
        font-size: 30px;
    }
}

p {
    font-size: 14px;
    line-height: 20px;
}

a {
    color: $white;
    &:hover {

    }
    &:active {

    }

    &:focus {

    }
}