/*
* @Author: Christian Rebelsky
* @Date:   2016-04-19 12:28:58
* @Last Modified by:   Christian Rebelsky
* @Last Modified time: 2016-04-19 12:31:03
*/
$body-background: #141313;
$body-font-color: $white;
$body-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;