---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Home">
  <section class="col-[2/-2] lg:col-[5/-5] shadow-lg rounded-lg bg-black">
    <h2 class="text-xl pt-4 pb-4 flex justify-center">
      Diese Seite konnte nicht gefunden werden
    </h2>
  </section>
</PageLayout>
