---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Home">
  <section class="col-[2/-2] lg:col-[5/-5]">
    <h2 class="text-xl pt-4 pb-4 flex justify-center">CAFÉ UND FEINE KOST</h2>
    <div class="spacer w-full h-px bg-white"></div>
    <p class="pt-4 pb-4">
      Wir sind Kathrin und Chris. Geschwister, Gastgeber aus Leidenschaft und
      total versessen auf spitzenmäßigen Kaffee. Unsere Herausforderung ist es,
      euch mit dem Bestmöglichen aus kostbaren Bohnen, außergewöhnlich gut
      belegten Stullen und hausgemachtem Blechkuchen glücklich zu machen. <br />
      <br />
      Schaut vorbei, wir freuen uns auf euch!
    </p>
  </section>
  <section class="pt-4 w-full col-[2/-2] lg:col-[5/-5]">
    <video width="100%" controls poster="videos/balzubalz-video-poster.jpg">
      <source src="videos/BalzuBalz.mp4" type="video/mp4" />
      <source src="videos/BalzuBalz.ogv" type="video/ogg" />
    </video>
  </section>
</PageLayout>
