---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Wartungsmodus">
  <section class="col-[2/-2] lg:col-[5/-5] flex flex-col items-center">
    <h2 class="text-xl pt-4 pb-4 flex justify-center">
      CAFÉ UND FEINE KOST
    </h2>
    <div class="spacer w-full h-px bg-white"></div>
    <p class="pt-4 pb-4 text-center">
      Balz und Balz hat seine Türen geschlossen.<br />
      Danke für die wunderbare Zeit mit euch!
    </p>
  </section>
</PageLayout>
