---
import { Image } from "astro:assets";

import Logo from "../../wt-logo-wt.svg";
---

<nav class="col-[5/-5] py-8">
  <ul class="flex flex-row items-end justify-center gap-x-8 gap-y-8">
    <li>
      <a href="/impressum"> Impressum </a>
    </li>
    <li>
      <a href="/">
        <Image src={Logo} alt="logo" width={120} height={25} />
      </a>
    </li>
    <li>
      <a href="/datenschutz"> Datenschutz </a>
    </li>
  </ul>
</nav>
