---
import Header from "@components/Header/index.astro";
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title} | Balz und Balz</title>
  </head>
  <body class="bg-black text-white">
    <div class="grid grid-columns-rootgrid grid-cols-root gap-4">
      <header class="col-span-full grid grid-cols-subgrid">
        <Header />
      </header>
      <main class="col-[2/-2] lg:col-[5/-5] pt-28 pb-28">
        <h1 class="text-2xl pb-4">{frontmatter.title}</h1>
        <div class="spacer w-full h-px bg-white"></div>
        <section
          class="pt-4 prose dark:prose-invert prose-p:text-white prose-strong:text-white
  prose-h1:font-bold prose-h1:text-xl prose-a:text-white prose-p:text-justify prose-h2:text-xl prose-h2:font-bold prose-headings:underline prose-headings:text-white"
        >
          <slot />
        </section>
      </main>
    </div>
  </body>
</html>
