---
import { Image } from "astro:assets";
const { title } = Astro.props;

import { head } from '@vercel/blob';

const logo = await head('balzbalz/images/wt-logo.svg', {
  token: import.meta.env.MICROSITE_FRA_READ_WRITE_TOKEN,
});

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Balz und Balz - Café und feine Kost in Hamburg Hoheluft."
    />
    <title>{title} | Balz und Balz</title>
  </head>
  <body class="grid font-sans text-white 2xl:overflow-y-auto">

    <div class="col-[1/1] row-[1/1]">
      <div class="grid grid-columns-rootgrid grid-cols-root gap-4">
        <main class="col-span-full flex items-center justify-center h-screen px-8">
          <Image
            src={logo.url}
            alt="logo"
            width={400}
            height={83}
            class="invert"
          />
        </main>
      </div>
    </div>
  </body>
</html>
