@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background;
}

h1,
h2,
p {
  @apply text-white;
}

#balzbalz {
  @apply bg-center bg-cover bg-no-repeat;
  background-image: url('../public/images/background-small.png');
}

@media screen(md) {
  #balzbalz {
    background-image: url('../public/images/background-medium.png');
  }
}

@media screen(lg) {
  #balzbalz {
    background-image: url('../public/images/background.png');
  }
}
