@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-background;
}

h1,
h2,
h3,
p {
  @apply text-white;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply font-semibold text-lg;
}

p {
  word-wrap: break-word;
}

p a {
  @apply underline;
}

.vertical-space {
  @apply w-full h-4;
}

.spacer {
  @apply w-full h-px bg-white;
}

#balzbalz {
  @apply relative;
}

#balzbalz::before {
  @apply fixed top-0 bottom-0 right-0 left-0 bg-no-repeat bg-cover;
  background-image: url('../public/images/background-small.png');
  content: '';
}

@media screen(md) {
  #balzbalz::before {
    background-image: url('../public/images/background-medium.png');
  }
}

@media screen(lg) {
  #balzbalz::before {
    background-image: url('../public/images/background.png');
  }
}
.BB_wrapper {
  @apply h-full md:h-screen w-full md:w-screen;
}

.BB_overlay p {
  @apply pb-4;
}